{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td>{{symbol}}</td>
            <td>{{name}}</td>
            <td>{{price | usd}}</td>
        </tr>
    </tbody>
    </table>
{% endblock %}