{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="form-select mb-3" aria-label="Default select example" name="symbol">
            <option placeholder="Symbol">symbol</option>
            {% for symbol in symbols %}
                <option value={{symbol}}>{{symbol}}</option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Stock'Shares" type="number" min="0"">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}